<div class="year-filter">
    <div>Select Year Range</div>
    <label>
        <input type="radio" name="{{nameToFilter}}" [(ngModel)]="filter" (ngModelChange)="updateFilter()" [value]="'All'" />
        All
    </label>

    <div *ngFor="let filterName of filters">
        <label>
            <input type="radio" name="{{nameToFilter}}"  [(ngModel)]="filter" (ngModelChange)="updateFilter()" [value]="filterName" (click)="setFilter = filterName" />
            {{filterName}}
        </label>

    </div>

  
</div>