<div class="p-4 flex flex-col gap-2 max-h-[50vh]">
    <div>Select <b>{{nameToFilter}}</b> Range</div>

    <div *ngFor="let filterName of filters index as i">

        <label class="flex items-center cursor-pointer relative gap-1" for="{{filterName}}">
            <input type="checkbox"
                class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800"
                (click)="changefilter(filterName)" id="{{filterName}}" [checked]="false"/>
            <span
                class="absolute text-white opacity-0 peer-checked:opacity-100 left-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                    stroke="currentColor" stroke-width="1">
                    <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </span>
            {{filterName}}
        </label>    

    </div>


</div>