
<div *ngIf="data" class="overflow-x-hidden bg-black bg-opacity-45 overflow-hidden fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative my-6 w-[50vw] mx-auto max-w-4xl">
    <!--content-->
    <div class="border-0 overflow-auto rounded-lg shadow-lg relative flex flex-col w-full bg-neutral-100 outline-none focus:outline-none  h-[70vh]">
      <!--header-->
      <div class="flex sticky top-0 left-0 right-0 z-10 items-center justify-end bg-black pt-2 pb-2 border-b border-solid border-blueGray-200 rounded-t">
             <button (click)="closePopUp()" class="text-white background-transparent font-bold uppercase px-6 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          Close
        </button>
      </div>
      <!--body-->
      <div class="relative pt-2 p-6 flex-auto">

        <div class="mb-2" *ngFor="let item of data.data | keyvalue:valueAscOrder">
          <span *ngIf="$any(item).key != 'id' &&  $any(item).value != '' "><b>
            {{            
            $any(item).key.toUpperCase().includes('(PROJECT)') ? ($any(item).key.replace('(Project)','') | DivideStringSymbol) : 
            $any(item).key.toUpperCase().includes('(PROJECTS)') ? ($any(item).key.replace('(Projects)','') | DivideStringSymbol): 
            $any(item).key.toUpperCase().includes('(FILTERED)') ? ($any(item).key.replace('(Filtered)','') | DivideStringSymbol): 
            $any(item).key.toUpperCase().includes('(SOURCE_EBOOK)') ? ($any(item).key.replace('(Source_ebook)','') | DivideStringSymbol): 
            $any(item).key.toUpperCase().includes('(SOURCE_CRP)') ? ($any(item).key.replace('(Source_CRP)','') | DivideStringSymbol): 
            $any(item).key.toUpperCase().includes('(PROJECT_KICK_OFF)') ? ($any(item).key.replace('(Project_Kick_Off)','') | DivideStringSymbol): 
            $any(item).key | DivideStringSymbol}}: </b> 

            <a *ngIf="$any(item).key.toUpperCase().includes('WE_HAVE_CUSTOMER_STORY')" href="https://s4hanacloudworldwide.com/customerstories/" target="_blank" class="text-light-blue-500" rel="noopener noreferrer">{{$any(item).value}}</a> 

            <a *ngIf="$any(item).key.toUpperCase().includes('CUSTOMER_IS_AN_OFFCIAL_REFERENCE') && $any(item).value.includes('Customer Reference platform')" href="https://crpa4c19efc4.hana.ondemand.com/cat/ci/cip/#/profiles/filter/;annkSubID,k1,17022" target="_blank" class="text-light-blue-500" rel="noopener noreferrer">{{$any(item).value}}</a> 

            <a *ngIf="$any(item).value.toUpperCase().includes('HTTPS')" href="{{$any(item).value}}" target="_blank" class="text-light-blue-500" rel="noopener noreferrer">{{$any(item).value}}</a> 

            <a *ngIf="!$any(item).value.toUpperCase().includes('HTTPS') && $any(item).value.toUpperCase().includes('WWW')" href="https://{{$any(item).value}}" target="_blank" class="text-light-blue-500" rel="noopener noreferrer">https://{{$any(item).value}}</a> 

            <a *ngIf="!$any(item).value.toUpperCase().includes('HTTPS') && !$any(item).value.toUpperCase().includes('WWW') && $any(item).value.toUpperCase().includes('.COM')" href="https://{{$any(item).value}}" target="_blank" class="text-light-blue-500" rel="noopener noreferrer">https://{{$any(item).value}}</a> 
            
            
           {{!$any(item).value.toUpperCase().includes('HTTPS') &&  !$any(item).value.toUpperCase().includes('WWW') && !$any(item).value.toUpperCase().includes('.COM') && !$any(item).key.toUpperCase().includes('WE_HAVE_CUSTOMER_STORY') && !$any(item).value.includes('Customer Reference platform')? $any(item).value : null}}

          </span>
        </div>
       
      </div>
    </div>
  </div>
</div>
