<div class="pl-10 pr-10 pt-5 pb-5">
    <nav class="block w-full  px-4 py-2 bg-white shadow-md rounded-md lg:px-8 lg:py-3">
        <div class="flex flex-wrap items-center justify-between text-slate-800">
            <a href="#" class="">
                <b>S/4HANA</b> Report Analysis
            </a>
            
            <div class="flex items-end justify-end">
                <a href="/filterdata" class="p-2">Database</a>
                <a href="" class="p-2">User</a>
            </div>

        </div>
    </nav>
</div>

<router-outlet></router-outlet>