@import '../node_modules/ag-grid-community/styles/ag-theme-quartz.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

body, html{
    @apply bg-neutral-50;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p{
    @apply m-0 !important;
}


.ag-theme-quartz .ag-header-cell-filter-button{
    @apply pointer-events-none !important;

}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.hidescroll::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.hidescroll{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

}